* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('images/a24_poster_crop.jpg')  ;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

p {
  color: aqua;
  font-family: cursive;
  text-align: center;
  text-wrap: wrap;
}

.a24Description {
    background-color: rgba(255, 255, 255, 0.3);
    color: aqua;
    font-family: cursive;
    text-align: center;
    text-wrap: wrap;
    margin: 5rem;
    padding: 5rem;
    border-radius: .5rem;
}

.poster {
  margin: 1rem;
  border: 1px solid white;
  width: 30%;
  max-width: 300px;
  height: auto;
  transition: transform 0.2s;
  display: block;
}

.poster img {
  display: block;
  width: 100%;
  height: auto;
}

.poster:hover {
  transform: scale(1.03)
}

@media (max-width: 900px) {
width: 45%;
}

@media (max-width: 600px) {
  width: 90%
}

form {
  justify-content: center;
  width: 5rem;
  margin: 0 auto;
  color: aqua;
  padding: 0 2rem 0 2rem;
}

footer {
    color: aqua;
    text-align: center;
    padding: 20px;
}
