* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('images/a24_poster_crop.jpg')  ;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

p {
  color: aqua;
  font-family: cursive;
  text-align: center;
  text-wrap: wrap;
}

.a24Description {
    background-color: rgba(255, 255, 255, 0.3);
    color: aqua;
    font-family: cursive;
    text-align: center;
    text-wrap: wrap;
    margin: 5rem;
    padding: 5rem;
    border-radius: .5rem;
}

.btn btn-outline-info{
  display: flex;
  align-items: center;
}

form {
  justify-content: center;
  width: 5rem;
  margin: 0 auto;
  color: aqua;
  padding: 0 2rem 0 2rem;
}

footer {
    color: aqua;
    text-align: center;
    padding: 20px;
}
